@model StudentsApp.ViewModels.Course_Students

@{
    ViewBag.Title = "Index";
}

<h1>Course: @Model.course.CourseName</h1>

@foreach (var student in Model.students) { 
    <h2>Student: @student.FirstName @student.LastName</h2><br />
}