@model IEnumerable<StudentsApp.Models.Student>

@{
    ViewBag.Title = "Index";
}

<h2>This is the student controller - index view</h2>
@foreach (var student in Model) { 
    <h1>@student.FirstName</h1><h1>@student.LastName</h1><br />
}